html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.App {
  text-align: center;
  font-size: 1em;
  height: 100%;
  width: 100%;
}
div {
  height: 100%;
}
.flex-container-row {
  display: flex;
  flex-direction: row;
}
.flex-container-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
